In [1]:
import pandas as pd
import numpy as np

In [2]:
n_samples = 1000

data = {
    'customer_id': range(1, n_samples + 1),
    'age': np.random.randint(18, 80, n_samples),
    'income': np.random.normal(50000, 20000, n_samples),
    'account_balance': np.random.normal(5000, 3000, n_samples),
    'tenure_months': np.random.randint(1, 120, n_samples),
    'num_products': np.random.randint(1, 5, n_samples),
    'credit_score': np.random.randint(300, 850, n_samples),
    'gender': np.random.choice(['Male', 'Female', 'Other'], n_samples),
    'location': np.random.choice(['Urban', 'Suburban', 'Rural'], n_samples),
    'customer_service_calls': np.random.randint(0, 10, n_samples),
    'churned': np.random.choice([0, 1], n_samples, p=[0.7, 0.3])
}

df_customers = pd.DataFrame(data)

print("=" * 80)
print("MAIN CUSTOMER DATA")
print("=" * 80)
print(df_customers.head())
print(f"\nShape: {df_customers.shape}")

# ============================================================================
# STEP 2: CREATE ADDITIONAL DATA SOURCES
# ============================================================================

# Data Source 2: Transaction History
df_transactions = pd.DataFrame({
    'customer_id': np.random.choice(range(1, n_samples + 1), 5000),
    'transaction_date': pd.date_range('2024-01-01', periods=5000, freq='H'),
    'transaction_amount': np.random.uniform(10, 1000, 5000),
    'transaction_type': np.random.choice(['Purchase', 'Transfer', 'Withdrawal', 'Deposit'], 5000),
    'merchant_category': np.random.choice(['Retail', 'Dining', 'Travel', 'Entertainment', 'Bills'], 5000)
})

print("\n" + "=" * 80)
print("TRANSACTION DATA")
print("=" * 80)
print(df_transactions.head())
print(f"\nShape: {df_transactions.shape}")

# Data Source 3: Product Ownership
df_products = pd.DataFrame({
    'customer_id': np.random.choice(range(1, n_samples + 1), 2000),
    'product_name': np.random.choice(['Savings', 'Checking', 'Credit Card', 'Investment', 'Loan'], 2000),
    'product_status': np.random.choice(['Active', 'Inactive', 'Pending'], 2000, p=[0.7, 0.2, 0.1]),
    'monthly_fee': np.random.choice([0, 5, 10, 15, 20], 2000)
})

print("\n" + "=" * 80)
print("PRODUCT OWNERSHIP DATA")
print("=" * 80)
print(df_products.head())
print(f"\nShape: {df_products.shape}")

# Data Source 4: Customer Support Interactions
df_support = pd.DataFrame({
    'customer_id': np.random.choice(range(1, n_samples + 1), 1500),
    'interaction_date': pd.date_range('2024-01-01', periods=1500, freq='D'),
    'issue_type': np.random.choice(['Billing', 'Technical', 'General Inquiry', 'Complaint'], 1500),
    'resolution_time_mins': np.random.randint(5, 120, 1500),
    'satisfaction_score': np.random.randint(1, 6, 1500)
})

print("\n" + "=" * 80)
print("CUSTOMER SUPPORT DATA")
print("=" * 80)
print(df_support.head())
print(f"\nShape: {df_support.shape}")

================================================================================
MAIN CUSTOMER DATA
================================================================================
   customer_id  age        income  account_balance  tenure_months  \
0            1   70  34890.942702      5646.953697             33
1            2   52  12789.363817      3579.958019             74
2            3   36  50353.799036      9523.265093            109
3            4   77  14564.587748     -2657.307871            110
4            5   18  39827.523999      4397.249150             73

   num_products  credit_score  gender  location  customer_service_calls  \
0             3           602   Other     Rural                       5
1             4           782  Female     Urban                       7
2             2           734    Male     Urban                       1
3             2           527    Male     Urban                       1
4             3           570    Male  Suburban                       8

   churned
0        1
1        1
2        0
3        0
4        0

Shape: (1000, 11)

================================================================================
TRANSACTION DATA
================================================================================
   customer_id    transaction_date  transaction_amount transaction_type  \
0          670 2024-01-01 00:00:00          920.185622         Purchase
1          784 2024-01-01 01:00:00          885.855600         Transfer
2          791 2024-01-01 02:00:00          248.988938       Withdrawal
3          763 2024-01-01 03:00:00           42.874369         Transfer
4           21 2024-01-01 04:00:00          701.556260         Purchase

  merchant_category
0            Retail
1            Dining
2     Entertainment
3            Dining
4            Dining

Shape: (5000, 5)

================================================================================
PRODUCT OWNERSHIP DATA
================================================================================
   customer_id product_name product_status  monthly_fee
0          724         Loan         Active           20
1           91     Checking       Inactive            5
2           42         Loan       Inactive           15
3          795     Checking         Active           20
4          566         Loan         Active            5

Shape: (2000, 4)

================================================================================
CUSTOMER SUPPORT DATA
================================================================================
   customer_id interaction_date       issue_type  resolution_time_mins  \
0          632       2024-01-01  General Inquiry                    16
1          510       2024-01-02          Billing                    27
2          826       2024-01-03        Complaint                   102
3          421       2024-01-04  General Inquiry                   115
4          326       2024-01-05          Billing                    50

   satisfaction_score
0                   4
1                   5
2                   4
3                   5
4                   3

Shape: (1500, 5)

/var/folders/b0/m_tjxcc54h35_7m9gyr0c5k40000gn/T/ipykernel_47415/930674042.py:32: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'transaction_date': pd.date_range('2024-01-01', periods=5000, freq='H'),

In [3]:
print("\n" + "=" * 80)
print("STEP 3: AGGREGATING DATA FROM EACH SOURCE")
print("=" * 80)

================================================================================
STEP 3: AGGREGATING DATA FROM EACH SOURCE
================================================================================

In [4]:
# Aggregate transactions per customer
transaction_agg = df_transactions.groupby('customer_id').agg({
    'transaction_amount': ['sum', 'mean', 'count'],
    'transaction_type': lambda x: x.value_counts().index[0]  # Most common type
}).reset_index()

# Flatten column names
transaction_agg.columns = ['customer_id', 'total_transaction_amount', 
                           'avg_transaction_amount', 'transaction_count', 
                           'most_common_transaction_type']

print("\nTransaction Aggregation:")

print(transaction_agg.head())

Transaction Aggregation:
   customer_id  total_transaction_amount  avg_transaction_amount  \
0            1               3351.547991              418.943499
1            2               2362.601391              393.766898
2            3               1482.813075              296.562615
3            4               2193.962251              365.660375
4            5               2469.255159              352.750737

   transaction_count most_common_transaction_type
0                  8                     Purchase
1                  6                   Withdrawal
2                  5                     Purchase
3                  6                   Withdrawal
4                  7                      Deposit

In [9]:
# Aggregate transactions per customer
transaction_agg = df_transactions.groupby(['customer_id', 'transaction_type']).agg({
    'transaction_amount': ['sum', 'mean', 'count']

}).reset_index()

# Flatten column names
transaction_agg.columns = ['customer_id', 'total_transaction_amount', 
                           'avg_transaction_amount', 'transaction_count', 
                           'most_common_transaction_type']

print("\nTransaction Aggregation:")

print(transaction_agg.head())

Transaction Aggregation:
   customer_id total_transaction_amount  avg_transaction_amount  \
0            1                  Deposit             1432.726282
1            1                 Purchase             1449.354332
2            1                 Transfer              395.787313
3            1               Withdrawal               73.680065
4            2                 Purchase              181.049010

   transaction_count  most_common_transaction_type
0         716.363141                             2
1         483.118111                             3
2         197.893656                             2
3          73.680065                             1
4         181.049010                             1

In [ ]:
# Aggregate transactions per customer
transaction_agg = df_transactions.groupby(['customer_id', 'transaction_type']).agg({
    'transaction_amount': ['sum', 'mean', 'count']

}).reset_index()

# Flatten column names
transaction_agg.columns = ['customer_id', 'total_transaction_amount', 
                           'avg_transaction_amount', 'transaction_count', 
                           'most_common_transaction_type']

print("\nTransaction Aggregation:")

print(transaction_agg.head())

,customer_id,transaction_date,transaction_amount,transaction_type,merchant_category
532,1,2024-01-23 04:00:00,202.443867,Transfer,Entertainment
709,1,2024-01-30 13:00:00,73.680065,Withdrawal,Bills
2534,1,2024-04-15 14:00:00,367.533375,Purchase,Entertainment
3200,1,2024-05-13 08:00:00,777.960407,Deposit,Entertainment
3326,1,2024-05-18 14:00:00,193.343446,Transfer,Bills
3778,1,2024-06-06 10:00:00,112.390693,Purchase,Entertainment
4143,1,2024-06-21 15:00:00,969.430264,Purchase,Retail
4858,1,2024-07-21 10:00:00,654.765875,Deposit,Retail